name: Build C

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: gcc -Wall -Wextra -Werror -O2 main.c -o main

      - name: Run
        run: ./main
